body {
  max-width: 375px;
  margin: 0;
  padding: 0;
  background: white
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: 0;
}

.SJF-logo {
  height: 102px;
}

nav {
  margin: 24px 0 24px 45px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

nav a {
  color: black;
  padding-right: 10px;
}

header div {
  background-color: #303030;
  padding: 24px 0 24px 45px;
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  animation: scroll 10s linear infinite;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 0;
}

@keyframes scroll {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 55% {
    transform: translateX(-100%);
  }
  60%, 85% {
    transform: translateX(-200%);
  }
  90%, 100% {
    transform: translateX(0%);
  }
}

main {
  padding-bottom: 48px;
}

p {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 24px 21px 0 45px;
}

h2 {
  font-family: "social-gothic-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding: 48px 0 0 45px;
  margin: 0;
}

h3 {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 24px 0 0 45px;
  margin: 0;
}

.description-elements {
  margin: 0 21px 0 45px;
}

main img {
  padding-top: 24px;
}

.food-img {
  margin-bottom: 24px;
}

footer {
  background-color: #303030;
  padding: 24px 0 24px 45px;
}

footer p {
  color: white;
  margin: 0;
  font-size: 13px;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: #569eb2;
}

.SJF-logo-footer {
  height: 84px;
  padding-bottom: 48px;
}

.container-social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons {
  max-height: 35px;
  padding-bottom: 48px;
  padding-right: 35px;
}